@import url(https://fonts.googleapis.com/css2?family=Princess+Sofia&family=Quicksand:wght@300..700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: white;
  margin: 0;
}

#root {
  height: 100vh;
  background-color: #152c27;
  background-size: cover;
  background-position: top;
  padding: 1rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Princess Sofia", serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

a {
  color: white;
  font-family: "Quicksand", sans-serif;
}

li {
  list-style: none;
}
